<mat-card class="col-md-12 d-flex-row justify-content-center border border-primary mx-0 p-1 h product-card">

  <ng-container *ngIf="product; else loading">

    <mat-card-header class="col-md-12 h-25 d-flex justify-content-center">

      <mat-card-title>
        {{ product.name }}
      </mat-card-title>

      <mat-card-subtitle>
        {{ product.category }}
      </mat-card-subtitle>

    </mat-card-header>
    
    <mat-card-content class="row col-md-12 product-img d-block m-0">

      <div class="col-md-12 img" 
        (mouseenter)="imgBtnsVisible = true"
        (mouseleave)="imgBtnsVisible = false">
  
        <button
          [hidden]="!imgBtnsVisible"
          class="position-absolute arrow arrow-left"
          (click)="showPrevImg()">
          <span class="fa fa-angle-left"></span>
        </button>
  
        <ng-container *ngFor="let img of product.images; let i = index">
          <img mat-card-image
            *ngIf="i === imgIndex"
            [src]="product.images[i]"
            style="max-height: 100px; object-fit:contain">
        </ng-container>
  
        <button
          [hidden]="!imgBtnsVisible"
          class="position-absolute arrow arrow-rigth"
          (click)="showNextImg()">
          <span class="fa fa-angle-right"></span>
        </button>
  
      </div>

      <span class="col-md-12 d-flex justify-content-center">
        Price: {{ product?.price | currency }}
      </span>

    </mat-card-content>

    <mat-card-actions class="col-md-12 h-25 d-flex justify-content-center mx-auto my-0">

      <button mat-raised-button class="mx-2"
        (click)="inspect(product)">
        Inspect
      </button>

      <button mat-raised-button class="mx-2" *ngIf="currentUser.isAdmin"
        (click)="edit(product)">
        Edit
      </button>

      <button mat-raised-button 
        (click)="addToCart(product)">
        Add to cart
      </button>

    </mat-card-actions>

  </ng-container>

  <ng-template #loading>
    <app-spinner-container
      spinner="Bars"
      color="red"
      size="large"
      display="block">
    </app-spinner-container>
  </ng-template>

</mat-card>