<div class="row">
  <div class="col-md-12 d-flex justify-content-start m-2">
      <span *ngIf="product" class="h2 m2">
          Edit {{ product.name }} details below:
      </span>
  </div>
      <div class="col-md-12 d-flex justify-content-start">
          <form [formGroup]="editForm" (ngSubmit)="saveChanges()" class="d-flex-column w-25 m-2">
      
              <div class="px-auto my-2 col-md-12">
                  <mat-slider
                    matInput
                    formControlName="amount"
                    min="0" max="100" step="1"
                    value="amount.value"
                    [thumbLabel]="amount.value">
                  </mat-slider> {{ amount.value }}
                  <span matSuffix *ngIf="amount.dirty && amount.valid" class="fa fa-check-circle text-success p-1"></span>
                  <mat-error *ngIf="amount.touched && amount.invalid">
                      <span *ngIf="amount.errors.required">Setting products's amount is required</span>
                  </mat-error>
                </div>
            
              <mat-form-field class="px-auto my-2 col-md-12">
                  <mat-select formControlName="category" placeholder="Category">
                    <mat-option *ngFor="let category of categories" [value]="category-value">
                      {{ category }}
                    </mat-option>
                  </mat-select>
                  <span matSuffix *ngIf="category.dirty && category.valid" class="fa fa-check-circle text-success p-1"></span>
                  <mat-error *ngIf="category.touched && category.invalid">
                      <span *ngIf="category.errors.required">First Name is required!</span>
                      <span *ngIf="category.errors.minlength">
                        First Name must be at least {{ category.errors.minlength.requiredLength }} characters long!
                      </span>
                      <span *ngIf="category.errors.cannotContainSpace">
                      {{ category.errors.cannotContainSpace.errorMsg }}
                    </span>
                  </mat-error>
              </mat-form-field>
          
              <mat-form-field class="px-auto my-2 col-md-12">
                  <input type="text" formControlName="color" placeholder="Product color" matInput>
                  <span matSuffix *ngIf="color.dirty && color.valid" class="fa fa-check-circle text-success p-1"></span>
                  <mat-error *ngIf="color.touched && color.invalid">
                      <span *ngIf="color.errors.required">Product color is required!</span>
                  </mat-error>
              </mat-form-field>
          
              <mat-form-field class="px-auto my-2 col-md-12">
                  <input type="text" formControlName="name" placeholder="Product name" matInput>
                  <span matSuffix *ngIf="name.dirty && name.valid" class="fa fa-check-circle text-success p-1"></span>
                  <mat-error *ngIf="name.touched && name.invalid">
                      <span *ngIf="name.errors.required">Product name is required!</span>
                  </mat-error>
              </mat-form-field>
          
              <mat-form-field class="px-auto my-2 col-md-12">
                  <input type="number" formControlName="price" placeholder="Product price" matInput>
                  <span matSuffix *ngIf="price.dirty && price.valid" class="fa fa-check-circle text-success p-1"></span>
                  <mat-error *ngIf="price.touched && price.invalid">
                      <span *ngIf="price.errors.required">Product price is required!</span>
                  </mat-error>
              </mat-form-field>
          
              <mat-form-field class="px-auto my-2 col-md-12">
                  <input type="text" formControlName="size" placeholder="Product size" matInput>
                  <span matSuffix *ngIf="size.dirty && size.valid" class="fa fa-check-circle text-success p-1"></span>
                  <mat-error *ngIf="size.touched && size.invalid">
                      <span *ngIf="size.errors.required">Product size is required!</span>
                  </mat-error>
              </mat-form-field>
          
              <mat-form-field class="px-auto my-2 col-md-12">
                  <mat-select formControlName="subCategory" placeholder="Sub category">
                    <mat-option *ngFor="let category of subCategories" [value]="subCategory.value">
                      {{ category }}
                    </mat-option>
                  </mat-select>
                  <span matSuffix *ngIf="subCategory.dirty && subCategory.valid" class="fa fa-check-circle text-success p-1"></span>
                  <mat-error *ngIf="subCategory.touched && subCategory.invalid">
                      <span *ngIf="subCategory.errors.required">Sub category is required!</span>
                  </mat-error>
              </mat-form-field>
          </form>
      </div>      
</div>
